<%- include('../../partials/nav') %>
<%- include('../../partials/topnav') %>
<%- include('../../partials/messages') %>
<link rel="stylesheet" href="/public/css/return.css"/>
<div class="content" style="margin-right: 110px;"> 
  <div class="returndetail">
    <form action="" method="GET">
        <div class="border" style="padding : 10px; margin-bottom: 10px; margin-left: 40px">
          <i class="fa fa-filter" style="font-size:36px"></i>
         <strong style="font-size: 33px; margin-bottom: 10px;">Filter By:</strong>
         <div class="form-row">
          <div class="col">
            <p>Category:</p>
            <input class="form-control" style="margin-bottom: 10px;" id="myInput" type="text" placeholder="Search Category">
          </div>
          <div class="col">
            <p>Employee Number:</p>
            <input class="form-control" style="margin-bottom: 10px;" id="myInput1" type="text" placeholder="Search Employee Number">
          </div>
         </div>
        <div class="form-row">
          <div class="col">
            <p>Prodcut ID:</p>
            <input class="form-control" style="margin-bottom: 10px;" id="myInput1" type="text" placeholder="Search Prodcut ID">
          </div>
          <div class="col">
            <p>Employee Name:</p>
            <input class="form-control" style="margin-bottom: 10px;" id="myInput1" type="text" placeholder="Search Employee Name">
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <p>Return Before:</p>
            <input class="form-control" style="margin-bottom: 10px;" type="text" name="returnBefore" value="<%= searchOptions.returnBefore %>" placeholder="Return Before Date">
          </div>
          <div class="col">
            <p>Return After:</p>
            <input class="form-control" style="margin-bottom: 10px;" type="text" name="returnAfter" value="<%= searchOptions.returnAfter %>"  placeholder="Return After Date">
          </div>
        </div> 
          <button class="btn btn-primary" type="submit">Search</button> 
          <a href="/products/issue/filter_return/1" class="btn btn-primary">Clear Filter</a>
        </div>
      </form>
    
<table class="table table-hover shadow-lg p-3 mb-5 rounded center">
  <thead class="bg-dark text-center shadow-sm p-3 mb-5">
    <tr class="text-white">
      <th>Employee Name</th>  
      <th>Email</th>  
      <th>Employee Number</th>  
      <th>Contact Number</th>   
      <th>Product ID</th>
      <th>Title</th>
      <th>Manufacturer</th>
      <th>Category</th>
      <th>Return Date/Time</th>
      <th>Return Quantity</th>
      <th>Reason</th>
    </tr>
  </thead>
  <tbody class="text-center" id="myTable">
    <% if (issueback.length> 0) { %> <% issueback.forEach(issueback=> { %>
    <tr>
      <td><%= issueback.issue.employee.ename %></td>  
      <td><%= issueback.issue.employee.email %></td> 
      <td> <%= issueback.issue.employee.enumber  %> </td> 
      <td><%= issueback.issue.employee.cnumber %></td>
      <td><%= issueback.issue.product.prodid %> </td>
      <td> <%=issueback.issue.product.title  %> </td>
      <td> <%=issueback.issue.product.manufacturer %> </td>
      <td> <%=issueback.issue.product.category.title %> </td>
      <% var date = issueback.returnTime %> 
      <% var formated = date.toLocaleString(date);  %> 
      <td> <%= formated %> </td>   
      <td><%= issueback.qty %> </td>    
      <td class="d-flex justify-content-center"><!-- Button trigger modal -->
        <button type="button" class="btn btn-sm btn-outline-info mr-2" data-toggle="modal" data-target="#exampleModalCenter<%= issueback.id %>">
          Reason
        </button>
        <form id="deletebtn" action="/products/issue/<%= issueback._id%>/returnDetails?_method=DELETE" method="POST" >
          <button class="btn btn-sm btn-outline-warning" style="
          padding-left: 10px;
          padding-right: 10px;
        " >Revert</button>
        </form>
      <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter<%= issueback.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Remarks</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= issueback.remarks %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </td>  
      <% }) %> <% } else { %>
        <td style="justify-content: center">Enter Filter </td>
      <% } %>
    </tr>
  </tbody>
</table>
<% if (pages > 0) { %>
  <nav aria-label="Page navigation example" style="margin-top: -40px;">
    <ul class="pagination justify-content-end">
      <% if (current == 1) { %>
        <li  class="page-item disabled"><a class="page-link">First</a></li>
    <% } else { %>
        <li class="page-item"><a class="page-link" href="/products/issue/filter_return/1">First</a></li>
    <% } %>
    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
    <% if (i !== 1) { %>
        <li class="page-item disabled"><a class="page-link">...</a></li>
    <% } %>
    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
        <% if (i == current) { %>
            <li class="page-item active"><a class="page-link"><%= i %></a></li>
        <% } else { %>
            <li class="page-item"><a class="page-link" href="/products/issue/filter_return/<%= i %>"><%= i %></a></li>
        <% } %>
        <% if (i == Number(current) + 4 && i < pages) { %>
            <li class="page-item disabled"><a class="page-link">...</a></li>
        <% } %>
    <% } %>
    <% if (current == pages) { %>
        <li class="page-item disabled"><a class="page-link">Last</a></li>
    <% } else { %>
        <li class="page-item"><a class="page-link" href="/products/issue/filter_return/<%= pages %>">Last</a></li>
    <% } %>
    </ul>
    <% } %>
  </nav>
</div>
</div>

<script>
  $(document).ready(function(){
    $("#myInput,#myInput1").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  </script>