
<!DOCTYPE html>

<html lang="en">
  <%- include('../partials/nav') %>
  <%- include('../partials/messages') %>
  <link rel="icon" href="public/images/supply.png" type="image/png">
  <link rel="stylesheet" href="/public/css/styles.css" />
  <body>
    <%- include('../partials/topnav') %>
    <div class="content">
      <div id="root">
        <%- include('../partials/cards')  %> 
      </div>
     <%- include('../partials/category') %> 
     <%- include('../partials/productdash') %> 
    </div>
  </body>
</html>