<%- include('../partials/nav') %>
<link rel="stylesheet" href="/public/css/detail.css">
<%- include('../partials/topnav') %>
<%- include('../partials/messages') %>
<div class="content">
    <div class="row">
        <div class="col-md-5">
            <div class="project-info-box mt-0">
                <h5>DETAILS</h5>
                <p class="mb-0"><%= product.desc %> </p>
            </div><!-- / project-info-box -->

            <div class="project-info-box">
                <p><b>Product ID: </b><%= product.prodid %></p>
                <p><b>Title: </b><%= product.title %></p>
                <p><b>Manufacturer: </b><%= product.manufacturer %></p>
                <p><b>Category: </b><%= product.category.title %></p>
                <p><b>Power Range: </b><%= product.prange %></p>
                <% date_1 = product.pdate  %>
                <% pdate = date_1.toLocaleString(date_1) %>  
                <p><b>Purchase Date: </b><%= pdate %></p>
                <% date_2 = product.wdate  %>
                <% wdate = date_2.toLocaleDateString(date_2) %>  
                <p><b>Warranty Date: </b><%= wdate  %></p>
                <p><b>Added By: </b><%= product.user.role %></p>


            </div><!-- / project-info-box -->

        </div><!-- / column -->

        <div class="col-md-7">
            <img id = "productimg" src="<%= product.coverImagePath %>" alt="project-image" class="rounded">
        </div><!-- / column -->
        <a id="editpage" href="/products/<%= product._id%>/edit" class="btn btn-outline-primary">Edit</a>

        <% var qty = product.qty %> 
        <% if(qty <= 0) {%>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  Product is Out of Stock
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <a id="issuebtn" href="" class="btn btn-outline-warning" aria-disabled="true" role="button">Issue</a>
        <% } else { %>
            <a id="issuebtn" href="/products/issue/<%= product._id%>/issueindex" class="btn btn-outline-success">Issue</a>
            <% } %>   
    </div>
</div>

