<%- include('../../partials/nav') %>
<%- include('../../partials/topnav') %>
<%- include('../../partials/messages') %>
<link rel="stylesheet" href="/public/css/issue.css" />
<div class="content">
<div class="issuedetail">
  <h3 style="font-weight: 200;" class="p-3 text-dark text-center shadow-sm p-3 mb-5 rounded center">Issued Products </h3>
<table id="issueTable" class="table table-hover shadow-lg p-3 mb-5 rounded center">
  <thead class="bg-dark text-center shadow-sm p-3 mb-5 rounded">
    <tr class="text-white">
      <th>Employee Name</th>  
      <th>Email</th>  
      <th>Employee Number</th>  
      <th>Contact Number</th>   
      <th>Product ID</th>
      <th>Title</th>
      <th>Manufacturer</th>
      <th>Category</th>
      <th>Quantity</th>
      <th>Date/Time</th>
      <th>Returned/Issued</th>
      <th>Action/Reason</th>
    </tr>
  </thead>
  <tbody class="text-center" id="myTable">
    <% if (issue.length> 0) { %> <% issue.forEach(issue=> { %>
    <tr>
      <td> <%= issue.employee.ename %></td> 
      <td><%= issue.employee.email  %></td>  
      <td><%= issue.employee.enumber %></td>  
      <td><%= issue.employee.cnumber %></td>  
      <td><%= issue.product.prodid%></td>
      <td><%= issue.product.title%></td>
      <td><%= issue.product.manufacturer%></td>
      <td> <%= issue.product.category.title%></td>
      <td> <%= issue.qty  %> </td>
      <% var date = issue.issueTime %> 
      <% let options = {year: "numeric", month: "2-digit", day: "2-digit", hour: "2-digit", minute: "2-digit", second: "2-digit"} %> 
      <% var formated = date.toLocaleString(date,options) %>
      <td><%= formated  %> </td>
      <% if(issue.status == true) { %>
        <td> Returned </td>  
        <% } %> 
       <% if(issue.status == false) { %> 
        <td> Issued </td>  
        <% } %> 

      <td class = "d-flex justify-content-center">
        <% var issueqty = issue.qty %>
        <% if(issueqty <= 0) { %>
        <button id="btnshow" class="btn btn-sm btn-outline-warning mr-2">Return</button>
        <div id="myAlert" class="alert alert-warning alert-dismissible collapse shadow-lg p-3 mb-5 rounded center">
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          All products are retruned by <%= issue.employee.ename %> 
        </div>      
        <% } else { %>
          <a href="/products/issue/<%= issue._id %>/retrun"  class="btn btn-sm btn-outline-danger mr-2">Return</a>
          <% } %> 

          <script type="text/javascript">
            $(document).ready(function () {
                $('#btnshow').click(function () {
                    $('#myAlert').show('fade');
                });
            });
          </script>
       
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-sm btn-outline-info" data-toggle="modal" data-target="#exampleModalCenter<%= issue.id %>">
          Reason
        </button>

        <form id="deletebtn" action="/products/issue/<%= issue._id%>?_method=DELETE" method="POST" class="position-absolute bottom-center">
          <button class="btn btn-sm btn-outline-warning" style="margin-top:44px;">Revert</button>
        </form>

         <!-- Modal -->
         <div class="modal fade" id="exampleModalCenter<%= issue.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Description</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= issue.description %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        </td>

      <% }) %> <% } else { %>

      <p>There are no issue to display...</p>

      <% } %>
    </tr>
  </tbody>
</table>
  <a href="/products/issue/filter_details/1" class="btn btn-primary">Apply Filter</a>
  <% if (pages > 0) { %>
    <nav aria-label="Page navigation example" style="margin-top: -40px;">
      <ul class="pagination justify-content-end">
        <% if (current == 1) { %>
          <li  class="page-item disabled"><a class="page-link">First</a></li>
      <% } else { %>
          <li class="page-item"><a class="page-link" href="/products/issue/details/1">First</a></li>
      <% } %>
      <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
      <% if (i !== 1) { %>
          <li class="page-item disabled"><a class="page-link">...</a></li>
      <% } %>
      <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
          <% if (i == current) { %>
              <li class="page-item active"><a class="page-link"><%= i %></a></li>
          <% } else { %>
              <li class="page-item"><a class="page-link" href="/products/issue/details/<%= i %>"><%= i %></a></li>
          <% } %>
          <% if (i == Number(current) + 4 && i < pages) { %>
              <li class="page-item disabled"><a class="page-link">...</a></li>
          <% } %>
      <% } %>
      <% if (current == pages) { %>
          <li class="page-item disabled"><a class="page-link">Last</a></li>
      <% } else { %>
          <li class="page-item"><a class="page-link" href="/products/issue/details/<%= pages %>">Last</a></li>
      <% } %>
      </ul>
      <% } %>
    </nav>
</div>
</div>
